body{
  background:#eff3f6;
  font-family: Roboto;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.photoDiv {
  margin: 4% 15% 4% 15%;
}

.userColor{
  color: #228ae2;
    font-weight: 500;
    text-decoration: underline;
    margin-right: 5px;
}

.imgDiv {
  text-align: center;
}
.imgDiv img {
  background: #fff;
  padding: 5px;
  margin-bottom: 30px;
  max-width: 100%;
  height:auto;
  display: block;
  min-height: 250px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1)!important;
  cursor: pointer;
}
.imgDiv img:hover{
  /*box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2)!important;*/
  box-shadow: 0 24px 38px 3px rgba(191, 191, 191, 0.14), 0 9px 46px 8px rgba(162, 162, 162, 0.12), 0 11px 15px -7px rgba(21, 21, 21, 0.2)!important;
}
.commentDiv {
    float: right;
}
.userCommentBox{
    line-height: 1.8em;
    font-size: 15px;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 30px;
    min-height: 480px;

    width: 45%;
    float: left;
    background: #fff;
    border-left: 1px solid #f1f1f1;
}
.userCommentBox h4{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;
    color: #464646;
}
.mainImgDiv img{
  min-height: 500px;
  margin-bottom: 0!important;
}
.mainImgDiv img{
  box-shadow:none!important;
  cursor: inherit;
}
.mainImgDiv img:hover{
  box-shadow:none!important;
}
.mainImgBox{
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1)!important;
}
.noPadding{
  padding: 0!important;
}
.homeImgBox{
  float: left;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}
  .mainImgDiv {
    width: 50%;
    float: left;
  }